public_html/client/index-tester.php
public_html/client/general_include.php
public_html/client/check-matomo.settings.sample.php
public_html/client/check-concrete5.settings.php
public_html/client/check-matomo.php
public_html/client/check-concrete5.php
public_html/client/check-matomo.settings.php
public_html/client/check-fs.php
public_html/client/check-limesurvey.php
public_html/client/check-limesurvey.settings.php
public_html/client/check-ilias.php
public_html/client/check-ilias.settings.php

public_html/server/classes/cdnorlocal-admin.class.php
public_html/server/config/appmonitor-server-config.json
public_html/server/javascript/*.min.js
public_html/server/themes/**/*.min.css
public_html/server/tmp/ahcache/
public_html/server/tmp/running_tinyservice_*.run

.vscode/launch.json
