@import url("../default/base.css");

h2{color:#97a;}
h2>i {color:#cad;}
h3{color:#a8b;}

.divtopheader, .divtopnavi,  .footer{
    background:#415; 
}
.tile1{ border-color: #ece; box-shadow: 0 0 5em #ece inset;}