select, input{border: 1px solid rgba(0,0,0,0.1); border-radius: 0.3em; color:#444; padding: 0.3em;}
table.dataTable{border-spacing: 1px; width: 100%;}
table.dataTable tbody tr:hover{background:rgba(255,255,255,0.2); }
table th{ background:rgba(0,0,0,0.05);}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled,
table.dataTable.no-footer{
    border-bottom-color:rgba(0,0,0,0.2);
}

table th.sorting_asc, table th.sorting_desc{background: rgba(0,0,0,0.1);}
table.dataTable tbody th, table.dataTable tbody td{padding: 2px 6px;}

.divmain{margin: 0 2% 5em;}
.divsourceinfo{background:#ddd; padding: 1em; }
#divmodal{
    position: fixed; height: 100%; width: 100%; top:0; left:0;
    background: #ccc; background: rgba(0,0,0,0.1);
    z-index: 1000;
}
.divlog{}
.divdialog{background: #fff; position: absolute; margin-top: 10%; margin-left: 30%; z-index: 1000; 
border: 2px solid rgba(0,0,0,0.4); border-radius: 1em; box-shadow: 0 0 1em #888;
padding: 1em;}
.divlog div{padding: 0.5em;}
.divlogok{background:#afa; }
.divloginfo{background:#fff8d0; }
.divlogerror{background:#fdd;}


#content{transition: opacity 0.4s linear; }
#errorajax{display: none;}

.divhost{ border-radius:0.5em;}
.divhost b{color:#fff;}
#divsetup .divhost{width: auto; height: auto;}

.divhost-outer{padding: 0 0 0 0.5em ; margin-bottom: 0.1em;}
.divhost-inner{background: rgba(255,255,255,0.9); display: flow-root;}
.divhost-inner>div{padding: 0.1em; color: #000; color: rgba(0,0,0,0.7); padding-top: 1.2em;}
.divhost-inner div.since {text-align: center; }
.divhost-inner div.appname a{font-size: 120%; padding: 0 0.7em; display: inline-block;}
h1 .divhost{padding: 0.3em 0.5em;}

#totalstatus{font-size: 140%;;}
.result0{background:#ccedde; color:#284}
.result1{background:#dfdeee; color:#657;}
.result2{background:#fdebd0; color:#862;}
.result3{background:#f8dbd7; color:#822;}

tr.result0{background: #e8f8f4 !important;}
tr.result1{background: #f4f0f8 !important;}
tr.result2{background: #fcf8f0 !important;}
tr.result3{background: #f8f0f0 !important;}

/* notification timeline */
.timeline::before {
	border-radius: .25rem;
	background-color: #dee2e6;
	bottom: 0;
	content: "";
	left: 31px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 4px;
}
.timeline > div {
	margin-bottom: 15px;
	margin-right: 10px;
	position: relative;
}
.timeline > div::after, .timeline > div::before {
	content: "";
	display: table;
}
.timeline > .time-label > span {
	border: 2px solid #ccc;
	border-radius: 0.5em;
	display: inline-block;
	font-size: 130%;
	padding: 0.2em 1em;
}
.timeline > div > i {
	background-color: #dee2e6;
	border-radius: 50%;
	font-size: 16px;
	height: 30px;
	left: 18px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}
.timeline > div > .timeline-item {
	box-shadow__: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
	border-radius: .25rem;
	background-color: #fff;
	color: #495057;
	margin-left: 5em;
	margin-right: 1em;
	margin-top: 0;
	padding: 0;
	position: relative;
}

label.result{min-width:10em; text-align: center; margin: 0 1em;}
/*
tr.result0{background:rgba(220,240,220,0.4) !important; color:#385;}
tr.result1{background:rgba(220,200,240,0.2) !important; color:#636;}
tr.result2{background:rgba(250,240,220,0.4) !important; color:#a94;}
tr.result3{background:rgba(240,220,220,0.4) !important; color:#924;}
*/
.badge{border: 0px solid rgba(0,0,0,0.3); padding: 0.5em; border-radius: 20%; margin-right: 0.5em;}

.divok{margin: 0 0 2em; padding: 1em;}
.divwarning{background:#fff0c0 !important; margin: 0 0 2em; padding: 1em;}
.diverror{background:#fdd !important; background: linear-gradient(#fdd,#ecc) !important; margin: 0 0 2em; padding: 1em; border: 1px solid rgba(0,0,0,0.15);}

.icook{color:#2a2;}
.icowarning{color:#ea2;}
.icoerror{color:#c22;}

#divwebsfilter{clear: both;}
.highlight{background:#fc2;}
.frmFilter{background: rgba(0,0,0,0.05); padding: 0.5em;}
.tag{color:#669; font-size: 90%; text-decoration: none; border-bottom: 0px dashed; margin-right: 0.5em;}

/*
.graph{float: left; background: rgba(255,255,255,0.1); border: 1px solid rgba(0,0,0,0.2); box-shadow: 0 0 5em #ddd inset; color: rgba(0,0,0,0.4); 
     padding: 0.3em; margin: 0 1em 1em 0; text-align: center; min-height: 8.5em; width:95%; max-width: 1024px;}
*/
#counter{border-bottom: 1px solid rgba(255,255,255,0.3); text-align: center; margin-right: 0.5em;}
#counter div{background:#fc2; height: 1px; transition: width 0.8s linear ; bottom: 0;}

#networkContainer{background-color: #fff;height: 500px;}
#network-toolbar{position: absolute; top: 4em; left: 1em; z-index:101;}
#mynetwork {
	width: 100%;
	height: 100%;
	border: 0px dashed lightgray;
	background: linear-gradient(-5deg,#d8e0f0,#fff,#fed);
    box-shadow: 0 0 5em #fff inset ;
    z-index:100;
}

/* ---------- override AdminLte */
/* HACK: remove menu icon ... it is in the template classes/layout-html.tpl :-/ */
.main-header .sidebar-toggle::before {
    content: "";
}
/* sidebar color */
        /*
    .skin-purple .wrapper, .skin-purple .main-sidebar, .skin-purple .left-side{
        background: #222d32; 
        background: #222d32; 
        background: url('sidebar-rauschen.jpg') fixed;
        background: url('sidebar-rauschen-transparent.png') fixed;
        background: #222d32 url('sidebar-lights.jpg') no-repeat;
    }
    .skin-purple .sidebar-menu > li.header{
        background: none;
    }
        */

/* hide green badges in menu items */
.sidebar-menu .bg-green{display: none;}

.box, .info-box{box-shadow: 0 0.2em 1em rgba(0,0,0,0.2);}

/* set background image in main area */
.content-wrapper{background: url('bg-rauschen.jpg') fixed;}

/* set another menu highlight color */
li.active a{background:rgba(127,127,127,0.2) !important;}

.info-box a{color:#fff;}
.info-box-text {
   text-transform: none; font-size:100%;
}
.info-box-number{font-size:170%;}
.logo-lg span{font-size: 70%; opacity: 0.7;}
.tagfilter{color:#fff;}
.tagfilter>div{margin: 0.5em 1em 0 0;}

div.counter{
    text-align: center;
}
div.counter strong{
    font-size: 300%;
    left: 0;
    opacity: 0.6;
}
div.counter .graph{
    background:#f8f8f8;
    border: 1px solid #eee;
}

