
body{background:#fff; color:#555; font-family:"arial"; margin: 0; font-size: 1em;}
a{color:#67c;}
h1{color:#888; color:rgba(255,255,255,0.5); margin: 0 0.5em 0 0; float: left;}
h2{padding-top: 5em; color:#777; border-bottom: 0px solid #ddd; }
h2>i {font-size: 150% !important; color:#aaa; margin-right: 0.3em;}
pre{padding: 0.5em; border: 2px solid rgba(0,0,0,0.1); }
table.dataTable tbody tr:hover{background:rgba(255,255,255,0.2); }

.inputtext{
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 0.5em;
    padding: 0.5em; margin-right: 1em;
}

.divtop{position: fixed; top: 0; z-index: 1000; width: 100%; padding: 0; }
.divtopheader, .divtopnavi,  .footer{background:#444; color:#eee;}
.divtopheader{
    color:#aaa; 
    opacity:1; 
    padding: 0.3em 1em 1em; 
    width: 100%; 
}
.divtopnavi{width: 100%; padding: 1em 1em 0.7em ; opacity:0.8; border-top: 0px solid #fca;}
.divtopnavi a{color:#fff; text-decoration:none;padding: 0.7em 0.7em 0.7em; margin-right: 0.3em; border-radius: 0.5em 0.5em 0 0;transition: all ease 0.5s;}
.divtopnavi a:hover{background-color: #999;background-color:rgba(0,0,0,0.2);}
.divtopnavi a.active{background-color:#eee; background-color:rgba(255,255,255,0.8); color:#444;}
.divtopnavi a.reload{
    background-color: #394;
	border-radius: 0.2em;
	padding: 0.4em;
}
.divmain{margin: 0 3% 5em;}.divsourceinfo{background:#ddd; padding: 1em; }
#divmodal{
    position: fixed; height: 100%; width: 100%; top:0; left:0;
    background: #ccc; background: rgba(0,0,0,0.1);
    z-index: 1000;
}
.divlog{}
.divdialog{background: #fff; position: absolute; margin-top: 20%; margin-left: 30%; z-index: 1000; 
border: 2px solid rgba(0,0,0,0.4); border-radius: 1em; box-shadow: 0 0 1em #888;
padding: 1em;}
.divlog div{padding: 0.5em;}
.divlogok{background:#afa; }
.divloginfo{background:#fff8d0; }
.divlogerror{background:#fdd;}

.footer{border-top: 1px solid #38c; margin-top: 20em; padding: 0.2em 1em; position: fixed; bottom: 0;width: 100%; }
.footer a{color:#fff; text-decoration: none;}
.footer a:hover{text-decoration: underline;}

.tile{float: left; border: 2px solid #eee; padding: 1em; margin: 0 1em 1em 0; text-align: center; min-height: 8em;min-width: 10em;}
.tile .count{font-size: 300%; opacity: 0.6; font-weight: bold;}
.tile .label{}
.tile .more{border-top: 1px solid #ccc; opacity: 0.4; margin-top: 0.5em; padding-top: 0.5em;}

.outsegment{min-height: 40em;}

.divhost{float: left; padding: 0.5em; border: 1px solid rgba(0,0,0,0.15); margin: 0 1em 1em 0; }

.result0{background:#efe !important;    background: linear-gradient(#dfd,#bdb)!important;}
.result1{background:#eee !important;    background: linear-gradient(#eee,#ddd)!important;}
.result2{background:#fff8d0 !important; background: linear-gradient(#fff0d0,#f0e0b0)!important;}
.result3{background:#fdd !important;    background: linear-gradient(#fcc,#ebb)!important;}


.badge{border: 2px solid rgba(0,0,0,0.2); padding: 0 0.5em; border-radius: 50%;}

.btn{padding: 0.3em 0.5em; color:#eee; background:#888; border: 2px solid rgba(0,0,0,0.2); border-radius: 0.4em; box-shadowX: 0 0 0.5em #888; 
     text-decoration: none;
    transition: all ease 0.2s;
}
.btn:hover{box-shadowX: 0 0 0.3em #888; border: 2px solid rgba(255,255,255,0.7); }
.btnadd{color:#383; background-color:#ada; background: linear-gradient(-45deg,#ada,#afa,#ada);}
.btndel{color:#833; background-color:#faa; background: linear-gradient(-45deg,#d88,#ebb,#d88);}
.divhost .btndel{margin-top: -0.4em;}
.divdialog .btn{position: absolute; right: 1em;}

.divok{margin: 0 0 2em; padding: 1em;}
.divwarning{background:#fff0c0 !important; margin: 0 0 2em; padding: 1em;}
.diverror{background:#fdd !important; background: linear-gradient(#fdd,#ecc) !important; margin: 0 0 2em; padding: 1em; border: 1px solid rgba(0,0,0,0.15);}

