@import url("base.css");

h2{color:#a8b;}
h2>i {color:#cad;}
h3{color:#c8d;}

.divtopheader, .divtopnavi,  .footer{
    background:#415; 
}
.divtopheader{
    color:#678; 
}
.tile1{ border: 1px solid #ece; box-shadow: 0 0 5em #ece inset;}