body{background:#f8f8f8; background: linear-gradient(45deg,#ccc,#fff,#f0f0f0) fixed; color:#223; font-family:"arial"; margin: 0; font-size: 90%;}
a{color:#67c;}
h1{color:#ace; color: rgba(255,255,255,0.5); margin: 0 0.5em 0 0; float: left;}
h2{padding-top: 5em; color:#657; border-bottom: 1px solid #ddd; }
pre{padding: 0.5em; border: 2px solid rgba(0,0,0,0.1); }
table.dataTable tbody tr:hover{background:#f0f4ff;}

.inputtext{
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 0.5em;
    padding: 0.5em; margin-right: 1em;
}

.divtop{position: fixed; top: 0; z-index: 1000; width: 100%; padding: 0; }
.divtopheader, .divtopnavi,  .footer{background:#aaa; background:linear-gradient(110deg,#779,#878,#779,#ba9,#abc,#fff); color:#eee;}
.divtopheader{
    color:#111; 
    opacity:1; 
    padding: 0.3em 1em 1em; 
    width: 100%; 
}
.divtopnavi{width: 100%; padding: 1em 1em 0.7em ; opacity:0.8; border-top: 0px solid #fca;}
.divtopnavi a{color:#fff; text-decoration:none;padding: 0.7em 0.7em 0.7em; margin-right: 0.3em; border-radius: 0.5em 0.5em 0 0;transition: all ease 0.5s;
    /*
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    */
}
.divtopnavi a:hover{background-color: #999;background-color:rgba(0,0,0,0.2);}
.divtopnavi a.reload{
    background-color: #aaa;background-color:rgba(0,200,0,0.3);
}

/*
.divtopnavi a.reload{
    background-image: url("./glyphicons/png/glyphicons_081_refresh.png");
}
.divtopnavi a.webs{
    background-image: url("./glyphicons/png/glyphicons_371_global.png");
}
.divtopnavi a.checks{
    background-image: url("./glyphicons/png/glyphicons_066_tags.png");
}
.divtopnavi a.setup{
    background-image: url("./glyphicons/png/glyphicons_280_settings.png");
}
.divtopnavi a.debug{
    background-image: url("./glyphicons/png/glyphicons_360_bug.png");
}
*/

.divtopnavi a.active{background-color:#fff; color:#338;}
.divmain{margin: 0 3% 5em;}.divsourceinfo{background:#ddd; padding: 1em; }
.divlog{background: #fec; position: fixed; top: 1em; right: 2em; z-index: 1000; border: 0px solid rgba(0,0,0,0.2); padding: 0;}
.divlog div{padding: 0.5em;}
.divlogok{background:#afa; }
.divloginfo{background:#fff8d0; }
.divlogerror{background:#fdd;}

.footer{border-top: 1px solid #38c; margin-top: 20em; padding: 0.2em 1em; position: fixed; bottom: 0;width: 100%; }
.footer a{color:#fff; text-decoration: none;}
.footer a:hover{text-decoration: underline;}


.divhost{float: left; padding: 0.5em; border: 1px solid rgba(0,0,0,0.15); margin: 0 1em 1em 0; border-top-left-radius: 0.5em;}

.result0{background:#efe !important;    background: linear-gradient(#ded,#cdc)!important;}
.result1{background:#eee !important;    background: linear-gradient(#eee,#ddd)!important;}
.result2{background:#fff8d0 !important; background: linear-gradient(#fff8d0,#f0e0c0)!important;}
.result3{background:#fdd !important;    background: linear-gradient(#fdd,#ecc)!important;}


.badge{border: 2px solid rgba(0,0,0,0.2); padding: 0 0.5em; border-radius: 50%;}

.btn{padding: 0.3em 0.5em; color:#eee; background:#212; border: 2px solid rgba(0,0,0,0.2); border-radius: 0.4em; box-shadow: 0 0 0.5em #888; 
     text-decoration: none;
    transition: all ease 0.5s;
    /*
    padding-left: 30px;
    background-repeat: no-repeat;
    */
}
.btn:hover{box-shadow: 0 0 0.3em #888; border: 2px solid rgba(255,255,255,0.7); }
.btnadd{color:#383; background-color:#ada; background: linear-gradient(-45deg,#ada,#afa,#ada);
    /*
    background-image: url("./glyphicons/png/glyphicons_190_circle_plus.png");
    */
}
.btndel{color:#833; background-color:#faa; background: linear-gradient(-45deg,#d88,#ebb,#d88);
    /*
    background-image: url("./glyphicons/png/glyphicons_191_circle_minus.png");
    */
}

.divwarning{background:#fff0c0 !important; margin: 0 0 2em; padding: 1em;}
.diverror{background:#fdd !important; margin: 0 0 2em; padding: 1em;}

