@import url("../default/base.css");

h2{color:#98b;}
h2>i {color:#abc;}
h3{color:#98b;}

.divtopheader, .divtopnavi,  .footer{
    background:#e82; 
}

.tile{ box-shadow: 0 0 5em #dce inset;}