@import url("../default/base.css");

h2{color:#67a;}
h2>i {color:#abc;}
h3{color:#89c;}

.divtopheader, .divtopnavi,  .footer{
    background:#126; 
}

.tile{ border-color: #cde; box-shadow: 0 0 5em #cde inset;}